<%= form_for(@post) do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="col-lg-12">
  <div class="input-group input-group-lg">
    <span class="input-group-addon">Post Title</span>
    <%= f.text_field :name, :class=>'form-control', :placeholder=>'Name this Mood Page'%>
  </div>
  <div class="input-group input-group-lg">
    <span class="input-group-addon">Tags</span>
    <%= f.text_field :tags, :class=>'form-control', :value => "", :placeholder => "Enter tags seperated with commas" %>
  </div>
  <div style="padding-top:40px;">
    <%= f.fields_for :contents do |builder| %>
      <div class="col-md-6">  
        <%= render 'content_field', :f => builder %>
      </div>
    <% end %>
  </div>
  <div class="btn btn-lg actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
