<div class="container" style="padding-top:20px;">
	<div class="post-content" style="padding:20px; margin-left:15px; margin-right:15px;">
		<div class="row">
			<div class="col-lg-6" style="text-align:right;">
				<%= image_tag("placeholder.png", :style=>'height:300px;') %>
			</div>
			<div class="col-lg-6" style="padding-top:20px">
				<h2 style="font-size:50px"><%= @post.name %></h2>
				<%  if @post.liked?(current_user) %>
				    <%= link_to unlike_post_path(@post), method: 'post' do%>
				    	<span class="glyphicon glyphicon-heart-empty heart heart-empty"></span>
				    <% end %>

				<% else %>
				    <%= link_to like_post_path(@post), method: 'post' do%>
				    	<span class="glyphicon glyphicon-heart heart"></span>
				    <% end %>
				<% end %>
			</div>
		</div>
	</div>
	<% @post.contents.each do |content| %>
	<% case content.link %>
	<% when /youtube/ %>
		<div class="col-md-6">
		<div class="post-content" style="height:400px; padding:10px;">
			<div class="col-md-12" style="height:100%; text-align:center;">
				<h4 style="margin-top:0;">Never Gonna Give You Up</h4>
				<%= raw(youtube_embed content.link) %>
			</div>
		</div>
		</div>
	<% when /reddit/ %>
		<div class="col-md-6">
			<div class="post-content" style="height:400px; padding:10px;">
				<div class="col-md-12" style="height:100%; text-align:center;">
					<h4 style="margin-top:0;">Funny Post</h4>
					<a href="<%=content.link%>"><%= image_tag("reddit.png", :style=>'height:85%') %></a>
				</div>
			</div>
		</div>
	<% when /8tracks/ %>
		<div class="col-md-6">
			<div class="post-content" style="height:400px; padding:10px;">
				<div class="col-md-12" style="height:100%; text-align:center;">
					<h4 style="margin-top:0;">Funny Post</h4>
					<iframe src="<%=content.link%>" width="100%" height="85%" style="border: 0px none;"></iframe>
				</div>
			</div>
		</div>
	<% when /imgur/ %>
		<div class="col-md-6">
			<div class="post-content" style="height:400px; padding:10px;">
				<div class="col-md-12" style="height:100%; text-align:center;">
					<h4 style="margin-top:0;">Funny Post</h4>
					<a href="<%=content.link%>"><img src="<%=content.link%>" title="Image Title" style="max-width:100%; max-height:85%;"/></a>
				</div>
			</div>
		</div>
	<% else %>
		<div class="col-md-6">
			<div class="post-content" style="height:400px; padding:10px;">
				<div class="col-md-12" style="height:100%; text-align:center;">
					<h4 style="margin-top:0;">Funny Post</h4>
					<a href="<%=content.link%>"><img src="<%=content.link%>" title="Image Title" style="max-width:100%; max-height:85%;"/></a>
				</div>
			</div>
		</div>
	<%end%>
	<% end %>
</div>